<!doctype html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>404 - 对不起，您查找的页面不存在！</title>
<link rel="stylesheet" type="text/css" href="/static/css/error/main.css">
</head>
<style>
    #goback{
        width: 300px;
        height: 30px;
        position: relative;
        left:150px;
        background-color: red;
        cursor: pointer;
        border: 1px solid salmon;
        border-radius: 1px;
    }
</style>
<body>
<div id="wrapper"><a class="logo" href="#"></a>
  <div id="main">
    <header id="header">
      <h1><span class="icon">!</span>404<span class="sub">注册失败</span></h1>
    </header>
    <div id="content">
        <h2>你输入的用户名已经存在！</h2>
        <a href="signup.html"><input  id="goback" type="submit" value="返回"></a>

    </div>
  </div>
</div>
</body>
</html>